<footer class="footer">
    <div class="footer_alt_1"></div>
    <div class="footer_alt_2">DESIGNED BY KODCU</div>
    <div class="footer_alt_3"></div>
</footer>
<script src="js/mesajlasmasay.js"></script>
<script src="js/jsindex.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
