<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="css/layoutandindex.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <link href="css/giris.css" rel="stylesheet">
    <link href="css/kayitsayfasi.css" rel="stylesheet">
    <link href="css/aramasonuc.css" rel="stylesheet">
    <link href="css/bilgisayfalari.css" rel="stylesheet">
    <link href="css/sikcasorulan.css" rel="stylesheet">
    <link href="css/guncellesay.css" rel="stylesheet">
    <link href="css/sifredegistirsay.css" rel="stylesheet">
    <link href="css/kullanicilarsay.css" rel="stylesheet">
    <link href="css/urunlersay.css" rel="stylesheet">
    <link href="css/mesajlasmasay.css" rel="stylesheet">
    <link href="css/forumsay.css" rel="stylesheet">
    <link href="css/konusay.css" rel="stylesheet">
    <link href="css/grupsay.css" rel="stylesheet">
    <link href="css/grupuyelerisay.css" rel="stylesheet">
    <link href="css/alagramsay.css" rel="stylesheet">
    <link href="css/gruplarimsay.css" rel="stylesheet">
</head>
