



<div class="resim_div">
    <div class="bilgisayfalariicdiv">
        <p>
            Şirketimiz Dünyada 20 Ülkeye yayılan ticaret ağı ile rekabette öne çıkan firmalardan biridir.
            Şirketimizin 20 fabrika, 40 mağaza ve 3000 çalışanı vardır. Şirketimiz Dünya markalarıyla yarışan tavrı ile
            rekabette öne çıkmaya devam etmekte gerek yurt içi gerekse yurtdışı çalışmalarını büyük bir
            özenle devam ettirmektedir
        </p>
    </div>
    </div>

    
