
<link href="css/layoutandindex.css" rel="stylesheet">

@if (Model == null && TempData["veri"] == null && ViewBag.BackRight==false)
{
    
}

<div class="resim_div"><div class="resim_ic_div">MERHABA DÜNYA</div></div>
        
        
    