

@{
    //ViewData["Title"] = "Kayıt -"; 
    ViewBag.Title = "Kayıt -";
}
    
    <div class="resim_div">
    <div id="kayitsaydiv0">

        @if (ViewBag.kayitsonucu == 2)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert">Kayıt Başarısız<br> Kullanıcı adı başka bir kullanıcının kullanıcı adıyla aynı olamaz<br>Tekrar deneyin</div>

        }
        @if (ViewBag.kayitsonucu == 3)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert">Kayıt Başarısız<br> Telefon numarası başka bir kullanıcının telefon numarasıyla aynı olamaz.<br>Tekrar deneyin</div>

        }
        @if (ViewBag.kayitsonucu == 4)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert">Kayıt Başarısız<br> Şifre doğrulamasında hata var <br> İki şifre aynı olmalıdır<br>Tekrar deneyin</div>

        }
        @if (ViewBag.kayitsonucu == 5)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert">Kayıt Başarısız<br> İsim formata uygun değil<br>Tekrar deneyin</div>

        }

        @if (ViewBag.kayitsonucu == 6)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert">Kayıt Başarısız<br> Soyisim formata uygun değil<br>Tekrar deneyin</div>

        }
        @if (ViewBag.kayitsonucu == 7)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert">Kayıt Başarısız<br> Kullanıcı adı formata uygun değil<br>Tekrar deneyin</div>

        }
        @if (ViewBag.kayitsonucu == 8)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert">Kayıt Başarısız<br> Telefon numarası formata uygun değil<br>Tekrar deneyin</div>

        }
        @if (ViewBag.kayitsonucu == 9)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert">Kayıt Başarısız<br> Şifre formata uygun değil<br>Tekrar deneyin</div>

        }
        @if (ViewBag.kayitsonucu == 100)
        {

            <div class="alert alert-secondary kayitsaydiv1" role="alert" id="kayitsaydiv1">Kayıt Başarısız<br>Tekrar deneyin</div>

        }





        <div id="kayitsaydiv2">






            <form action="saveuser" method="post" id="kayitsayform">

                <div class="mb-2">
                    <label for="e3" class="form-label">İsim</label>
                    <input type="text" class="form-control" id="e3" name=name required onkeyup="this.value = this.value.toLocaleUpperCase('tr-TR');" oninvalid="this.setCustomValidity('İsim boş bırakılamaz')" oninput="this.setCustomValidity('')" autocomplete="off">

                </div>
                <div class="mb-2">
                    <label for="e4" class="form-label">Soyisim</label>
                    <input type="text" class="form-control" id="e4" name=surname required onkeyup="this.value = this.value.toLocaleUpperCase('tr-TR');" oninvalid="this.setCustomValidity('Soyisim boş bırakılamaz')" oninput="this.setCustomValidity('')" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label for="e5" class="form-label">Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="e5" name=username required oninvalid="this.setCustomValidity('Kullanıcı adı boş bırakılamaz')" oninput="this.setCustomValidity('')" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label for="e6" class="form-label">Telefon Numarası</label>
                    <input type="tel" class="form-control" id="e6" name=phonenumber required oninvalid="this.setCustomValidity('Telefon numarası boş bırakılamaz')" oninput="this.setCustomValidity('')" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label for="e7" class="form-label">Şifre</label>
                    <input type="password" class="form-control" id="e7" name=password required oninvalid="this.setCustomValidity('Şifre boş bırakılamaz')" oninput="this.setCustomValidity('')" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label for="e8" class="form-label">Şifre Doğrulama</label>
                    <input type="password" class="form-control" id="e8" name=password2 required oninvalid="this.setCustomValidity('Şifre doğrulama boş bırakılamaz')" oninput="this.setCustomValidity('')" autocomplete="off">
                </div>

                <button type="submit" class="btn btn-primary mt-3" id="buton0">Kayıt Ol</button>
                <div id="form-button-div">

                    <a class="btn btn-primary mt-3" id="buton1" href="/">Ana Sayfa</a>
                    <a class="btn btn-primary mt-3" id="buton2" href="Girissayfasi">Giriş Yap</a>
                </div>
            </form>


        </div>
    </div>
    </div>




