
<div class="forumsay_resim_div">
    <div id="arson_d1">
        <div id="forumsaydiv0">
            
        </div>

        <div id="forumsaydiv1">
            <p style="color:white">Konu Başlığını Giriniz</p>
            <form action="/konuac" id="forumsayform1">
                
                <input class="input" type="text" placeholder="Konu Başlığı" name="konubasligi">
                <input class="button" type="submit" value="Konu Aç" href="arama_sonuc">
            </form>
        </div>
        <div id="forumsaydiv2">
        </div>

    </div>
</div>