@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (Model != null)
{
    TempData["veri"] = Model.Username;
}
<div class="resim_div">
    <div class="sikcadiv1">Burası Sıkça Sorulan Sorular Sayfası</div>
    
</div>
