
<div class="forumsay_resim_div">
    <div id="arson_d1">
        <div id="forumsaydiv0">
        </div>

        <div id="forumsaydiv1">
            <div style="background-color:white">
                <p>Düzenlenecek mesaj: @Model.Comment.Content</p>
                <p>Düzenlenecek mesaj sahibi: @Model.Comment.Owner.Username</p>
            </div>
            <hr />
            <form action="yorumuduzenle" id="forumsayform1" method="post">
                <input type="hidden" value="@Model.Topic.Id" name="TopicId">
                <input type="hidden" value="@Model.Comment.Id" name="CommentId">
                <input class="input" type="text" placeholder="Mesajınız" name="newcontent">
                <input class="button" type="submit" value="Yorumu Değiştir" href="arama_sonuc">
            </form>
        </div>
        <div id="forumsaydiv2">
        </div>

    </div>
</div>
