.sifredegistirsaydiv0{
    width:320px;
}
#b0, #b1, #b2{
    width:117px;
    height:40px;
    text-align:center;
    font-size:16px;
    display:flex;
    justify-content:center;
    align-items:center;
}


